    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        padding: 5px;
        border: solid 2px rebeccapurple;
    }
    
    nav#banner {
        border: 2px solid saddlebrown;
    }
    
    nav#banner ul {
        list-style: none;
    }
    
    nav#banner ul li {
        display: inline;
    }
    
    main {
        padding: 10px;
    }
    
    footer {
        padding: 10px;
    }
    
    div.infoPlate {
        /* color: aqua; */
        background-color: brown;
        width: 50%;
        height: 200px;
        float: left;
    }
    
    div.splitLine {
        height: 200;
        width: 100%;
        color: blueviolet;
    }
    
    @media screen and (min-width: 320px) {
        body {
            background-color: forestgreen;
        }
    }
    
    @media screen and (min-width: 550px) {
        body {
            background-color: crimson;
        }
    }
    
    @media screen and (min-width: 768px) {
        body {
            background-color: yellowgreen;
        }
    }
    
    @media screen and (min-width: 960px) {
        body {
            background-color: rgb(20, 107, 220);
        }
    }