*{
  margin: 0;
  padding: 0;
}

header {
  padding: 5px;
  border: solid 2px rebeccapurple;
}

nav#banner{
  border: 2px solid saddlebrown;
}

nav#banner ul{
  
  list-style: none;
}

nav#banner ul li{
  display: inline;
}

main{
  padding: 10px;
}

footer{
  padding: 10px;
}