    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        padding: 5px;
        border: solid 2px rebeccapurple;
    }
    
    body {
        margin: 2px orange;
        padding: 3px yellow;
    }
    
    nav#banner {
        border: 2px solid saddlebrown;
    }
    
    nav#banner ul {
        list-style: none;
    }
    
    nav#banner ul li {
        display: inline;
    }
    
    main {
        padding: 10px;
    }
    
    footer {
        padding: 10px;
    }
    
    div.infoPlate {
        /* color: aqua; */
        background-color: #e85536;
        width: 48%;
        height: 200px;
        float: left;
        /* margin: 2px green; */
        /* padding: 2px green; */
    }
    
    div.splitLine {
        height: 200;
        width: 100%;
        color: blueviolet;
    }
    
    footer.footMore {
        float: left;
    }
    
    @media screen and (min-width: 320px) {
        body {
            background-color: forestgreen;
        }
    }
    
    @media screen and (min-width: 550px) {
        body {
            background-color: crimson;
        }
    }
    
    @media screen and (min-width: 768px) {
        body {
            background-color: yellowgreen;
        }
    }
    
    @media screen and (min-width: 960px) {
        body {
            background-color: #ffffff;
        }
    }
    
    image {
        color: red;
    }