* {
    margin: 0;
    padding: 0;
}

div#mainview {
    width: 100%;
    /* height: 600px; */
    border: 2px solid teal;
    background-color: cadetblue;
}

div#universal {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 700px;
    height: 40px;
    border: 1px solid slategrey;
    background-color: thistle;
}

div#tools {
    /* float: left; */
    position: absolute;
    top: 60px;
    left: 10px;
    height: 400px;
    width: 50px;
    border: 1px solid rgb(11, 190, 122);
    background-color: bisque;
}

div#paintingArea {
    float: left;
    height: 200px;
    border: 1px solid seagreen;
    background-color: blueviolet;
}

div#canvasManagement {
    /* float: right; */
    position: absolute;
    right: 10px;
    top: 60px;
    height: 400px;
    width: 50px;
    border: 1px solid seagreen;
    background-color: rgb(22, 96, 165);
}

.canvas {
    background-color: black;
}